@import "tailwindcss";

:root {
  --text: #475569;
  --text-h: #0f172a;
  --bg: #ffffff;
  --border: #e2e8f0;

  --code-bg: #f8fafc;

  --accent: #0284c7;
  --accent-bg: rgba(2, 132, 199, 0.1);
  --accent-border: rgba(2, 132, 199, 0.35);

  --social-bg: #f8fafc;

  --shadow:
    rgba(15, 23, 42, 0.08) 0 10px 15px -3px,
    rgba(15, 23, 42, 0.04) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #cbd5e1;
    --text-h: #f8fafc;
    --bg: #020617;

    --border: rgba(255, 255, 255, 0.1);

    --code-bg: #0f172a;

    --accent: #0ea5e9;
    --accent-bg: rgba(14, 165, 233, 0.12);
    --accent-border: rgba(14, 165, 233, 0.35);

    --social-bg: rgba(255, 255, 255, 0.05);

    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}
